<div style="font-size: 14px; line-height: 24px; color: #333; font-family: sans-serif;">
  <p>Fala {{name}}, beleza?</p>
  <p>Seu username é {{username}}</p>
  <p>
    Nos vemos lá!
    <strong>Equipe xyz</strong>
  </p>
</div>
